<body class="background-image">

  <div class="container" >
    <% if (@name_view) %>
      <h1><%= @name_view %></h1>
    <% end %>
    <div class="btn-group" >
      <button type="button" class="btn btn-primary">Date Monetizer</button>
    </div>
    <div class="container mt-2">
      <div class="row align-items-start">
        <div class="col border border-secondary rounded-top-custom mr-2 d-flex flex-column">
            <h5 class="card-title text-center"><%= @likes_count %></h5>
            <p class="card-text text-center"><strong>Likes</strong></p>
        </div>
        <div class="col border border-secondary rounded-top-custom mr-2 d-flex flex-column">
            <h5 class="card-title text-center"><%= @dislikes_count %></h5>
            <p class="card-text text-center"><strong>Dislikes</strong></p>
        </div>
        <div class="col border border-secondary rounded-top-custom mr-2 d-flex flex-column">
          <h5 class="card-title text-center"><%= @views_count %></h5>
          <p class="card-text text-center "><strong>Views</strong></p>
        </div>
        <div class="col border border-secondary rounded-top-custom mr-2 d-flex flex-column">
        <h5 class="card-title text-center"><%= @shares_count %></h5>
        <p class="card-text text-center"><strong>Shares</strong></p>
        </div>   
      </div>
    </div>

    <table class="table bg-white table-hover table-centered mt-3">
      <thead>
        <tr>
          <th scope="col">Video Name</th>
          <th scope="col">Likes</th>
          <th scope="col">Dislikes</th>
          <th scope="col">Views</th>
          <th scope="col">Shares</th>
        </tr>
      </thead>
      <tbody>
        <% @publishings.each do |video| %>
        <tr>
          <td> <%= video.title %> </td>
          <td><%= video.likes %><br><p class="card-text"></p></td>
          <td><%= video.dislikes %><br><p class="card-text"></p></td>
          <td><%= video.views %><br><p class="card-text"></p></td>
          <td><%= video.shares %><br><p class="card-text"></p></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>




