<%# <!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@channel.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# <% content_for :meta_description, @channel.name %>
<%# <% content_for :meta_image, cl_image_path(@offer.photo.path) %>
<%  @arrows = ["up", "down"] %>



    <% if (@name_view) %>
      <h1 class="text-left ml-5 mt-4 custom-font-size h1" >Video <%= @name_view %>s</h1>
      <h2 class="text-left ml-5 mb-5  display-4 custom-font-size-sub"> Checkout your platform main statistics </h2>
    <% end %>
 <div class=" d-flex flex-column container-fluid align-items-end sticky-left">
    <div class="card sticky-links">
    <div class="card-body">
      <div>
     <a href="#" rel="tooltip" title="Youtube"><i class="fab fa-youtube-square fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Facebook"><i class="fab fa-facebook fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Snapchat"><i class="fab fa-tiktok fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Tiktok"><i class="fab fa-snapchat fa-2x"></i></a>
      </div>
       <div>
     <a href="#" rel="tooltip" title="All Platforms"><i class="fas fa-globe-asia fa-2x"></i></a>
      </div>
    </div> <!-- end card-body-->
  </div>


    <div class="container mt-4 w-50 justify-content-center">
      <div class="row align-items-start individual-cards">
        <div class="col slight-shadow rounded-top-custom mr-2 d-flex flex-column">
          <div class="d-flex align-items-center">
              <h5 class="card-title text-left mb-1"><%= number_with_delimiter(@likes_count, :delimiter => ',') %></h5>
              <i class="fas fa-caret-<%=@arrows[rand(0..1)]%> fa-2x mt-0 ml-4"></i>
          </div>
            <p class="card-text text-left mb-0"><strong>Likes</strong></p>
            <small> <i class="fas fa-check-circle"></i> Updated</small>
        </div>
        <div class="col slight-shadow rounded-top-custom mr-2 d-flex flex-column">
          <div class="d-flex align-items-center">
            <h5 class="card-title text-left mb-1"><%= number_with_delimiter(@dislikes_count , :delimiter => ',') %></h5>
            <i class="fas fa-caret-<%=@arrows[rand(0..1)]%> fa-2x mt-0 ml-4"></i>
            </div>
            <p class="card-text text-left mb-0 "><strong>Dislikes</strong></p>
            <small> <i class="fas fa-check-circle"></i> Updated</small>
        </div>
        <div class="col slight-shadow rounded-top-custom mr-2 d-flex flex-column">
          <div class="d-flex align-items-center">
            <h5 class="card-title text-left mb-1"><%= number_with_delimiter(@views_count , :delimiter => ',') %></h5>
            <i class="fas fa-caret-<%=@arrows[rand(0..1)]%> fa-2x mt-0 ml-4"></i>
            </div>
            <p class="card-text text-left mb-0 "><strong>Views</strong></p>
          <small> <i class="fas fa-check-circle"></i> Updated</small>
        </div>
        <div class="col slight-shadow rounded-top-custom mr-2 d-flex flex-column">
          <div class="d-flex align-items-center">
            <h5 class="card-title text-left mb-1 "><%= number_with_delimiter(@shares_count , :delimiter => ',') %></h5>
            <i class="fas fa-caret-<%=@arrows[rand(0..1)]%> fa-2x mt-0 ml-4"></i>
            </div>
            <p class="card-text text-left mb-0 "><strong>Shares</strong></p>
        <small> <i class="fas fa-check-circle"></i> Updated</small>
        </div>
      </div>
    </div>

  <div class="container bg-white mt-3 mb-5 rounded-container slight-shadow card-channel">
    <div class=" d-flex align-items-right justify-content-end p-3">
      <%= form_tag overview_path, class:"search-2", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill",
          placeholder: "Views | Comments | Likes | Title | Description"
        %>
      <% end %>
    </div>
    <table class="table table-hover table-centered  pb-3 px-0 custom-smaller-table ">
      <thead >
        <tr>
          <th scope="col text-center font-weight-light">Video Name</th>
          <th scope="col text-center font-weight-light">Likes</th>
          <th scope="col text-center">Dislikes</th>
          <th scope="col text-center">Views</th>
          <th scope="col text-center">Shares</th>
        </tr>
      </thead>
      <tbody>
        <% @publishings.where(status:"Published on Youtube").each do |video| %>
        <tr>

          <td> <img class="img-thumbnail" src="<%= video.thumbnail %>" alt="youtube-image" > <%= video.title.first(20)%><br> </td>
          <td class="card-text text-center align-middle">
            <div class="d-flex align-items-center"><br>
              <%= number_with_delimiter(video.likes, :delimiter => ',') %>
              <i class="fas fa-caret-<%=@arrows[rand(0..1)]%> fa-2x mt-4 ml-1"></i>
            </div>
          </td>
          <td class="card-text text-center align-middle"><br>
            <div class="d-flex align-items-center">
              <%= number_with_delimiter(video.dislikes, :delimiter => ',') %>
              <i class="fas fa-caret-<%=@arrows[rand(0..1)]%> fa-2x mt-1 ml-1"></i>
            </div>
          </td>
         <td class="card-text text-center align-middle">
            <div class="d-flex align-items-center"><br>
              <%= number_with_delimiter(video.views, :delimiter => ',') %>
              <i class="fas fa-caret-<%=@arrows[rand(0..1)]%> fa-2x mt-4 ml-1"></i>
            </div>
          </td>
          <td class="card-text text-center align-middle">
            <div class="d-flex align-items-center"><br>
              <%= number_with_delimiter(video.shares, :delimiter => ',') %>
              <i class="fas fa-caret-<%=@arrows[rand(0..1)]%> fa-2x mt-4 ml-1"></i>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div><p class="text-white">updated</p></div>

