
    <% if (@name_view) %>
      <h1 class="text-left ml-5 mt-4 display-4 custom-font-size">Video <%= @name_view %></h1>
    <% end %>
 <div class=" d-flex flex-column container-fluid align-items-end sticky-left">
    <div class="card sticky-links">
    <div class="card-body">
      <div>
     <a href="#" rel="tooltip" title="Youtube"><i class="fab fa-youtube-square fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Facebook"><i class="fab fa-facebook fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Snapchat"><i class="fab fa-tiktok fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Tiktok"><i class="fab fa-snapchat fa-2x"></i></a>
      </div>
       <div>
     <a href="#" rel="tooltip" title="All Platforms"><i class="fas fa-globe-asia fa-2x"></i></a>
      </div>
    </div> <!-- end card-body-->
  </div>


    <div class="container mt-4 custom-width">
      <div class="row align-items-start individual-cards">
        <div class="col slight-shadow rounded-top-custom mr-2 d-flex flex-column">
            <h5 class="card-title text-left mb-1"><%= @likes_count %></h5>
            <p class="card-text text-left mb-0"><strong>Likes</strong></p>
            <small> <i class="fas fa-check-circle"></i> Updated...</small>
        </div>
        <div class="col slight-shadow rounded-top-custom mr-2 d-flex flex-column">
            <h5 class="card-title text-left mb-1"><%= @dislikes_count %></h5>
            <p class="card-text text-left mb-0 "><strong>Dislikes</strong></p>
            <small> <i class="fas fa-check-circle"></i> Updated...</small>
        </div>
        <div class="col slight-shadow rounded-top-custom mr-2 d-flex flex-column">
          <h5 class="card-title text-left mb-1"><%= @views_count %></h5>
          <p class="card-text text-left mb-0 "><strong>Views</strong></p>
          <small> <i class="fas fa-check-circle"></i> Updated...</small>
        </div>
        <div class="col slight-shadow rounded-top-custom mr-2 d-flex flex-column">
        <h5 class="card-title text-left mb-1 "><%= @shares_count %></h5>
        <p class="card-text text-left mb-0 "><strong>Shares</strong></p>
        <small> <i class="fas fa-check-circle"></i> Updated...</small>
        </div>
      </div>
    </div>

  <div class="container bg-white mt-3 mb-5 rounded-container slight-shadow card-channel">
    <div class=" d-flex align-items-right justify-content-end p-3">
      <%= form_tag overview_path, class:"search-2", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill",
          placeholder: "Views | Comments | Likes | Title | Description"
        %>
      <% end %>
    </div>
    <table class="table table-hover table-centered  pb-3 px-0 custom-smaller-table ">
      <thead >
        <tr>
          <th scope="col text-center font-weight-light">Video Name</th>
          <th scope="col text-center font-weight-light">Likes</th>
          <th scope="col text-center">Dislikes</th>
          <th scope="col text-center">Views</th>
          <th scope="col text-center">Shares</th>
        </tr>
      </thead>
      <tbody>
        <% @publishings.each do |video| %>
        <tr>
          <td> <img class="img-thumbnail" src="<%= video.thumbnail %>" alt="youtube-image" > <%= video.title.first(20) %> </td>
          <td class="card-text text-center align-middle"><%= video.likes %><br></td>
          <td class="card-text text-center align-middle"><%= video.dislikes %><br></td>
          <td class="card-text text-center align-middle"><%= video.views %><br></td>
          <td class="card-text text-center align-middle"><%= video.shares %><br></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div><p class="text-white">updated</p></div>

