
    <% if (@name_view) %>
      <h1 class="text-center mt-4">Video <%= @name_view %></h1>
    <% end %>
 
    <div class="top-animation-2">
    <%= button_to update_publishings_path, class:"btn btn-success rounded-circle", method: :get do %>
        <i class="fab fa-youtube"></i>
    <% end %>
  </div>


    <div class="container mt-4 custom-width">
      <div class="row align-items-start">
        <div class="col border border-secondary rounded-top-custom mr-2 d-flex flex-column">
            <h5 class="card-title text-left mb-1"><%= @likes_count %></h5>
            <p class="card-text text-left mb-0"><strong>Likes</strong></p>
            <small> <i class="fas fa-check-circle"></i> Updated...</small>
        </div>
        <div class="col border border-secondary rounded-top-custom mr-2 d-flex flex-column">
            <h5 class="card-title text-left mb-1"><%= @dislikes_count %></h5>
            <p class="card-text text-left mb-0 "><strong>Dislikes</strong></p>
            <small> <i class="fas fa-check-circle"></i> Updated...</small>
        </div>
        <div class="col border border-secondary rounded-top-custom mr-2 d-flex flex-column">
          <h5 class="card-title text-left mb-1"><%= @views_count %></h5>
          <p class="card-text text-left mb-0 "><strong>Views</strong></p>
          <small> <i class="fas fa-check-circle"></i> Updated...</small>
        </div>
        <div class="col border border-secondary rounded-top-custom mr-2 d-flex flex-column">
        <h5 class="card-title text-left mb-1 "><%= @shares_count %></h5>
        <p class="card-text text-left mb-0 "><strong>Shares</strong></p>
        <small> <i class="fas fa-check-circle"></i> Updated...</small>
        </div>   
      </div>
    </div>

  <div class="container w-50 bg-white mt-3 mb-5 rounded-container">
    <div class=" d-flex align-items-right justify-content-end p-3">
      <%= form_tag overview_path, class:"search-2", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill",
          placeholder: "Views | Comments | Likes | Title | Description"
        %>
      <% end %>
    </div>



    <table class="table table-hover table-centered  pb-3 px-0 custom-smaller-table ">
      <thead >
        <tr>
          <th scope="col text-center">Video Name</th>
          <th scope="col text-center">Likes</th>
          <th scope="col text-center">Dislikes</th>
          <th scope="col text-center">Views</th>
          <th scope="col text-center">Shares</th>
        </tr>
      </thead>
      <tbody>
        <% @publishings.each do |video| %>
        <tr>
          <td> <img  class="avatar-large"  src="<%= video.thumbnail %>" alt="youtube-image" > <%= video.title.first(20) %> </td>
          <td><%= video.likes %><br><p class="card-text text-center align-middle"></p></td>
          <td><%= video.dislikes %><br><p class="card-text text-center align-middle"></p></td>
          <td><%= video.views %><br><p class="card-text text-center align-middle"></p></td>
          <td><%= video.shares %><br><p class="card-text text-center align-middle"></p></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div><p class="text-white">updated</p></div>


