<div class="container-fluid p-0" id="castle-banner" > <%= cl_video_tag @publishing.video.key, height: 100, width: 100 %> </div>


  <div class="container margin-top-negative bg-white p-5 rounded">
    <div class="row mb-3">
      <div class="col-md-8">
        <div p-5>
          <h1><strong><%= @publishing.title %></strong></h1>
          <p class="text-justify"><%= @publishing.description %></p>
          <%= link_to "Back to Overview", root_path, class: "btn btn-secondary" %>
        </div>
      </div>
      <div class="col-md-4 d-flex flex-column">
          <div>
            <div class="card p-3 mb-3">
              <h1>data will go here</h1>
              </div>
          </div>

          <p class="card-text mb-0">Posted</p>
          <div class="progress" style="height: 10px;" >
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>

          <p class="card-text mb-0">Crossposted</p>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
          </div>

          <p class="card-text mb-0">Shared</p>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
          <p class="card-text mb-0">Follower</p>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
          </div>

          <p class="card-text mb-0">Non Follower</p>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
          <p class="card-text mb-0">Live</p>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
          </div>
          <p class="card-text mb-0">Video</p>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
          </div>

        </div>
      </div>
    </div>
          <!-- <div class="container" id="map"
          style="width: 100%; height: 600px; border-radius: 15px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
           -->
  </div>

