<%# <div class="background-image-index"> %>
  <div class="container pushing-aside d-flex justify-content-end pt-2">
   <div>
    <%= link_to "New Post", new_publishing_path, class:"btn btn-primary rounded-pill "%>
   </div>
  </div>

<div class=" d-flex flex-column container-fluid align-items-end sticky-left">
    <div class="card sticky-links">
    <div class="card-body">
      <div>
     <a href="#"><i class="fab fa-youtube-square fa-3x"></i></a>
      </div>
      <div>
    <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
      </div>
      <div>
    <a href="#"><i class="fab fa-snapchat fa-3x"></i></a>
      </div>
      <div>
    <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
      </div>
      <div>
    <a href="#"><i class="fab fa-tiktok fa-3x"></i></a>
      </div>
       <div>
     <a href="#" rel="tooltip" title="Tooltip message..."><i class="fas fa-globe-asia fa-3x"></i></a>
      </div>
    </div> <!-- end card-body-->
  </div>
<div class="background-style-index style-extra">
  <div class="card-position">
 <div class="card-product title-card-index justify-content-center  ">

  <div>
    <h2>Video</h2>
  </div>
   <div class="card-product-infos">
    <h2>Title</h2>
  </div>
  <div class="card-product-infos">
    <h2>Publication date</h2>
  </div>
  <div class="card-product-infos">
    <h2>total Views</h2>
  </div>
   <div class="card-product-infos">
    <h2>Video Average Watch</h2>
  </div>
   <div class="card-product-infos">
    <h2>Status</h2>
  </div>
  </div>
</div>
</div>
 <div class="background-style-index">
  <div class="card-position">
 <% @publishings.each do |publishing| %>
 <%= link_to publishing_path(publishing.id), class:"text-hover" do %>
 <div class="card-product justify-content-center  ">
  <% if publishing.youtube_video_id %>
    <img src="<%= publishing.thumbnail %>" alt="youtube-image" >
  <% else %>
     <%= cl_video_tag publishing.video.key, height: 100, width: 100 %>
  <% end %>
  <div class="card-product-infos">
    <h2><%= publishing.title.first(15) %></h2>
    <p><%= publishing.description.first(15) %></p>
  </div>
  <div class="card-product-infos">
    <h2><%= publishing.published_at %></h2>
  </div>
  <div class="card-product-infos">
    <h2><%= publishing.views %></h2>
  </div>
   <div class="card-product-infos">
    <h2><%= publishing.avg_watch_sec %></h2>
  </div>
   <div class="card-product-infos">
    <h2><%= publishing.status %></h2>
  </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
<%# </div> %>















