<%# <div class="background-image-index"> %>
    <div class="container">
<!--
    <h1 class="text-left  mt-4 h1 custom-font-size"> Pending and Published Posts</h1>
    <h2 class="text-left  display-4 custom-font-size-sub"> You currently have <strong> <%= @publishings.where(status:"Published on Youtube").count%> </strong> published posts and <strong><%= @publishings.where(status:"Pending").count%> </strong>pending posts to published </h2> -->
    <div class="container pushing-aside d-flex justify-content-between pt-2">
      <div>
        <h1 class="text-left  mt-4 h1 custom-font-size"> Pending and Published Posts</h1>
    <h2 class="text-left  display-4 custom-font-size-sub"> You currently have <strong> <%= @publishings.where(status:"Published on Youtube").count%> </strong> published posts and <strong><%= @publishings.where(status:"Pending").count%> </strong>pending posts to published </h2>
      </div>
      <div>
      <%= link_to "New Post", new_publishing_path, class:"btn btn-warning rounded-pill "%>
    </div>
    </div>
   </div>


<div class=" d-flex flex-column container-fluid align-items-end sticky-left">
    <div class="card sticky-links">
    <div class="card-body">
      <div>
     <a href="#" rel="tooltip" title="Youtube"><i class="fab fa-youtube-square fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Facebook"><i class="fab fa-facebook fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Snapchat"><i class="fab fa-snapchat fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
      <div>
    <a href="#" rel="tooltip" title="Tiktok"><i class="fab fa-tiktok fa-2x"></i></a>
      </div>
       <div>
     <a href="#" rel="tooltip" title="All Platforms"><i class="fas fa-globe-asia fa-2x"></i></a>
      </div>
    </div> <!-- end card-body-->
  </div>
<div class="background-style-index style-extra">
  <div class="card-position">
 <div class="card-product title-card-index justify-content-center text-center">

  <div>
    <h2>Video</h2>
  </div>
   <div class="card-product-infos">
    <h2>Title</h2>
  </div>
  <div class="card-product-infos">
    <h2>Publication date</h2>
  </div>
  <div class="card-product-infos">
    <h2>total Views</h2>
  </div>
   <div class="card-product-infos">
    <h2>Video Average Watch</h2>
  </div>
   <div class="card-product-infos">
    <h2>Status</h2>
  </div>
  </div>
</div>
</div>
 <div class="background-style-index">
  <div class="card-position">
 <% @publishings.each do |publishing| %>
 <%= link_to publishing_path(publishing.id), class:"text-hover" do %>
 <div class="card-product justify-content-center  ">
  <% if publishing.youtube_video_id %>
    <img src="<%= publishing.thumbnail %>" alt="youtube-image" >
  <% else %>
     <%= cl_video_tag publishing.video.key, height: 100, width: 100 %>
  <% end %>
  <div class="card-product-infos">
    <h2><%= publishing.title.first(15) %></h2>
    <p><%= publishing.description.first(15) %></p>
  </div>
  <div class="card-product-infos text-center ">
  <% if publishing.youtube_video_id %>
    <h2><%= publishing.published_at.to_datetime.strftime('%b %d, %Y') %></h2>
  <%else %>
      <h2><%= publishing.scheduled_at.strftime('%b %d, %Y') %></h2>
  <% end %>
  </div>
  <div class="card-product-infos text-center ">
    <h2><%= number_with_delimiter(publishing.views, :delimiter => ',') %></h2>
  </div>
   <div class="card-product-infos text-center">
    <h2><%= publishing.avg_watch_sec %></h2>
  </div>
   <div class="card-product-infos text-center">
    <h2><%= publishing.status %></h2>
  </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
<%# </div> %>















