<%# <div class="background-image-index"> %>
<div class= "container">
<h1 id=" my-castles-title-card "> Account Dashboard </h1>
<div class="row">
<div class= "col-4 mypublishings-card rounded">
   <div class="card-my-publishings rounded">
                                <div class="card">
                                    <h6 class="card-header">Channel Analytics</h6>
                                    <div class="card-body">
                                      <div>
                                        <h6 class="card-title">Subscribers</h6>
                                        <p class="card-text"><strong><%= number_with_delimiter(@subscibers_count, :delimiter => ',') %><i class="fas fa-user-friends"></i></strong></p>
                                        <hr class="blue_line mt10 mb10"/>
                                      </div>
                                      <div>
                                        <h6 class="card-title">Summary</h6>
                                        <div class= "d-flex justify-content-between">
                                        <p class="card-text"><strong>views</strong></p>
                                        <p class="card-text"><i class="fas fa-eye eye-for-my"></i><%=number_with_delimiter(@views_count, :delimiter => ',') %></p>
                                        </div>
                                        <div class= "d-flex justify-content-between">
                                         <p class="card-text"><strong>Shares</strong></p>
                                        <p class="card-text"><i class="fas fa-share"></i><%= number_with_delimiter(@shares_count, :delimiter => ',') %></p>
                                        </div>
                                        <hr class="blue_line mt10 mb10"/>
                                      </div>
                                      <div>
                                        <h6 class="card-title">Total Revenue</h6>
                                        <p class="card-text"><strong>$<%= number_with_delimiter(@revenue_count, :delimiter => ',') %></strong></p>
                                        <hr class="blue_line mt10 mb10"/>
                                      </div>
                                          <%= link_to 'Go To Channel Analytics', channels_path, class:"btn btn-warning rounded-pill"%>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                       </div>
<div class="col-8" >
    <% counter = 0 %>
    <% @publishings.each do |publishing| %>
      <% counter += 1 %>
    <div class="row d-flex my-publishing-video-card">
  <div class="col-9">
   <%= link_to publishing_path(publishing.id) do %>
   <div class="card-product-my d-flex justify-content-center slight-shadow">
    <% if publishing.youtube_video_id %>
      <img src="<%= publishing.thumbnail %>" alt="youtube-image" >
    <% else %>
       <%= cl_video_tag publishing.video.key, height: 100, width: 100 %>
    <% end %>
    <div class="card-product-infos-my">
      <h2><%= publishing.title.first(15) %></h2>
      <p><%= publishing.description.first(15) %></p>
    </div>
    <div class="card-product-infos-my">
      <% if publishing.youtube_video_id %>
        <h2><%= publishing.published_at.to_datetime.strftime('%a %b %Y %H:%M') %></h2>
      <% else %>
        <h2><%= publishing.scheduled_at.strftime('%a %b %Y %H:%M') %></h2>
      <% end %>
    </div>
    <div class="card-product-infos-my">
      <h2><%= publishing.status %></h2>
    </div>
    </div>
    <% end %>
  </div>
     <div class="col-3" >
      <% if publishing.video.attached? %>
            <p><%= link_to  "Delete Post", publishing_path(publishing.id), method: :delete, class: "btn btn-danger rounded-pill" %></p>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
</div>
</div>
<%# </div> %>
