<div class="background-image-index">
<div class= "container">
<h1 id=" my-castles-title-card "> Account Dashboard </h1>
<div class="row">
<div class= "col-4 mypublishings-card rounded">
   <div class="card-my-publishings rounded">
                                <div class="card">
                                    <h6 class="card-header">Channel Analytics</h6>
                                    <div class="card-body">
                                      <div>
                                        <h6 class="card-title">Subscribers</h6>
                                        <p class="card-text"><strong>13</strong></p>
                                        <hr class="blue_line mt10 mb10"/>
                                      </div>
                                      <div>
                                        <h6 class="card-title">Summary</h6>
                                        <div class= "d-flex justify-content-between">
                                        <p class="card-text"><strong>views</strong></p>
                                        <p class="card-text">number of views</p>
                                        </div>
                                        <div class= "d-flex justify-content-between">
                                         <p class="card-text"><strong>Watch Time</strong></p>
                                        <p class="card-text">average of watch time</p>
                                        </div>
                                        <hr class="blue_line mt10 mb10"/>
                                      </div>
                                      <div>
                                        <h6 class="card-title">Top Video</h6>
                                        <p class="card-text"><strong>top video name</strong></p>
                                        <hr class="blue_line mt10 mb10"/>
                                      </div>
                                        <a href="javascript: void(0);" class="btn btn-primary">Go To Channel Analytics</a>
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                       </div>
  <div class="col-8" >
  <% counter = 0 %>
  <% @publishings.each do |publishing| %>
    <% counter += 1 %>
  <div class="row d-flex my-publishing-video-card">
<div class="col-9">
 <%= link_to publishing_path(publishing.id) do %>
 <div class="card-product-my d-flex justify-content-center">
  <% if publishing.youtube_video_id %>
    <img src="<%= publishing.thumbnail %>" alt="youtube-image" >
  <% else %>
     <%= cl_video_tag publishing.video.key, height: 100, width: 100 %>
  <% end %>
  <div class="card-product-infos-my">
    <h2><%= publishing.title.first(15) %></h2>
    <p><%= publishing.description.first(15) %></p>
  </div>
  <div class="card-product-infos-my">
    <h2><%= publishing.published_at.to_datetime.strftime('%a %b %Y %H:%M') %></h2>
  </div>
  <div class="card-product-infos-my">
    <h2><%= publishing.status %></h2>
  </div>
  </div>
  <% end %>
</div>
   <div class="col-3" >
          <p><%= link_to  "Delete Post", publishing_path(publishing.id), method: :delete, class: "btn btn-danger rounded-pill" %></p>
  </div>
</div>
  <% end %>

</div>
</div>
</div>
</div>
