<div class="container-fluid p-0 align-items-center" id="castle-banner" > <%= cl_video_tag publishing.video.key, height: 300, width: 100 %>


  <div class="container margin-top-negative bg-white p-5 rounded">
    <div class="container-fluid p-0" id="castle-banner" > <%= cl_video_tag publishing.video.key, height: 300, width: 100 %> </div>
    <div class="row mb-3">
      <div class="col-md-8">
        <div p-5>
          <h1><strong><%= @publishing.title %></strong></h1>
          <p class="text-justify"><%= @publishing.description %></p>
          <%= link_to "Back to Overview", root_path, class: "btn btn-secondary" %>
        </div>
      </div>
      <div class="col-md-4 d-flex flex-column">
          <div>
            <div class="card p-3 mb-3">
              <h1>data will go here</h1>
              </div>
          </div>
      </div>
    </div>
          <!-- <div class="container" id="map"
          style="width: 100%; height: 600px; border-radius: 15px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
           -->
  </div>
</div>
