
<ul class="nav nav-tabs nav-justified nav-bordered mb-3">
    <li class="nav-item">
        <a href="#home-b2" data-toggle="tab" aria-expanded="false" class="nav-link active">
            <i class="mdi mdi-home-variant d-md-none d-block"></i>
            <span class="d-none d-md-block">Step 1</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#profile-b2" data-toggle="tab" aria-expanded="true" class="nav-link">
            <i class="mdi mdi-account-circle d-md-none d-block"></i>
            <span class="d-none d-md-block">Step 2</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#settings-b2" data-toggle="tab" aria-expanded="false" class="nav-link">
            <i class="mdi mdi-settings-outline d-md-none d-block"></i>
            <span class="d-none d-md-block">Step 3</span>
        </a>
    </li>
</ul>

    <%= simple_form_for(@publishing) do |f| %>
<div class="container tab-content ">
    <div class="tab-pane show active form-login rounded-form " id="home-b2">
      <h4> Video Upload </h4>
      <%= f.input :video, as: :file, label: false, input_html: {class: "upload-input" } %>
    </div>
    <div class="tab-pane form-login rounded-form " id="profile-b2">
      <h4> Details </h4>
      <%= f.input :title, label: "Video Title:" %>
      <%= f.input :description, as: :text, label: "Video Description:" %>
    </div>
    <div class="tab-pane form-login  rounded-form " id="settings-b2">
      <h4> Visibility </h4>
      <%= f.input :scheduled_at, as: :string, input_html: {class: "datepicker"} %>
      <%= f.input :status, s: :text, input_html: { value: f.object.status.presence || 'Pending' } %>
      <%= f.submit class:"btn btn-warning rounded-pill" %>
    </div>
     <%= link_to "Cancel", "#", class: "btn btn-danger rounded-pill" %>
</div>
<% end %>
