<body class="background-image"
  <div class="search-wrap d-flex align-items-center float-right">
    <%= form_tag overview_path, class:"search", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Tag | Description | Name"
      %>
    <% end %>
    <i class="fas fa-search searchIcon"></i>
    <i class="fas fa-times clear"></i>
  </div>
    <div class="container background-style p-5 d-flex flex-wrap justify-content-around">
      <% @videos.each do |video_hash|%>
        <div class="card-trip m-3">
          <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/<%=video_hash[:id]%>" 
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen></iframe>
          <div class="card-trip-infos">
            <div>
              <h2><%=video_hash[:title]%></h2>
              <p><%=video_hash[:description]%></p>
            </div>
          </div>
          <div class="card-trip-infos d-flex">
              <div class="d-flex">
                <i class="far fa-thumbs-up mr-1"></i>
                <h2>Likes</h2>
              </div>
              <div class="d-flex">
                 <i class="far fa-eye mr-1"></i></i>
                <h2>Views</h2>
              </div>
              <div class="d-flex">
                 <i class="far fa-comment mr-1"></i>
                <h2>Comments</h2>
              </div>
            </div>
        </div>        
        
      <% end %>  
  </div>
</body>

<%= console %>


<%# <p> <%=  video_hash[:title] %> 
          <%# <p> <%=  video_hash[:description] %>
