<body class="background-image">
<div class="container d-flex flex-wrap justify-content-between mt-3 margin-custom">
  <%# <%= button_to 'Refresh video info!', update_publishings_path, class: "btn btn-success rounded-pill", method: :get %>
  <div>
    <%= button_to update_publishings_path, class:"btn btn-success rounded-circle", method: :get do %>
        <i class="fas fa-redo"></i>
    <% end %>
    <span class="text-secondary">Last updated: <%=@publishings.first.updated_at.strftime('%Y-%m-%d %H:%M')  %></span>
  </div>

    <div class="search-wrap d-flex align-items-center ">
      <%= form_tag overview_path, class:"search", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill",
          placeholder: "Views | Comments | Likes | Title | Description"
        %>
      <% end %>
      <i class="fas fa-search searchIcon"></i>
      <i class="fas fa-times clear"></i>
    </div>
</div>
<div class="container background-style p-5 d-flex flex-wrap justify-content-around">
  <h2 class="msg">Checkout your latest posts!</h2>
  <div class="btn btn-success top-animation d-flex justify-content-center align-items-center">
    <i class="fas fa-arrow-down" aria-hidden="true"></i>
  </div>
  <% @publishings.each do |publishing|%>
    <div class="card-trip m-3">

      <%if publishing.uid %>
        <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/<%=publishing.uid%>"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <%else%>
        <iframe class="embed-responsive-item"  src="<%=cl_video_path publishing.video.key%>"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      <%end%>

      <div class="card-trip-infos">
        <div>
          <h2><%=publishing.title.first(10)%></h2>
          <p><%=publishing.description.first(10)%></p>
        </div>
      </div>
      <div class="card-trip-infos d-flex">
          <div class="d-flex">
            <i class="far fa-thumbs-up mr-1"></i>
            <h2>Likes</h2>
          </div>
          <div class="d-flex">
              <i class="far fa-eye mr-1"></i></i>
            <h2>Views</h2>
          </div>
          <div class="d-flex">
              <i class="far fa-comment mr-1"></i>
            <h2>Comments</h2>
          </div>
        </div>
    </div>

  <% end %>
</div>

</body>

