<nav class="nav-fixed-black">
      <div class="nav-center">
        <!-- nav header -->
        <% if user_signed_in? %>
          <div class="nav-header">
                <%= image_tag "profile.jpg", class: "avatar-bordered mr-5", alt: "avatar-bordered" %>
            <div class="navbar-brand">
              <%= image_tag "logo.png" %>
            </div>

            <button class="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>
          </div>
        <% else %>
        <div class="nav-header">
            <div class="navbar-brand">
              <%= image_tag "logo.png" %>
            </div>

            <button class="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>
          </div>
        <% end %>
        <!-- links -->
        <% if user_signed_in? %>
          <ul class="links">
            <li>
              <%= link_to 'Overview', destroy_user_session_path, method: :delete, class:"btn btn-flat subrayado"%>
            <li>
            <li>
              <%= link_to 'Publisher', publishings_path, class:"btn btn-flat subrayado"%>
            <li>

            <li>
              <li class="dropdown">
                <a class="btn btn-flat subrayado" data-toggle="dropdown">
                  Monetizer <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Last Day",  last_day_channel_path, class:"dropdown-item" %> </a></li>
                  <li class="divider"></li>
                  <li><a <%= link_to 'Monetizer 2', last_week_channel_path(1), class:"dropdown-toggle"%></a></li>
                </ul>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-flat subrayado"%>
            </li>
            </li>
  

          </ul>
        <% else %>
          <ul class="links">
            <li>
              <%= link_to 'Login', new_user_session_path, class:"btn btn-flat"%>
            </li>
            <li>
              <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-flat" %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>


